/**
 * bxSlider v4.2.5
 * Copyright 2013-2015 Steven Wanderski
 * Written while drinking Belgian ales and listening to jazz

 * Licensed under MIT (http://opensource.org/licenses/MIT)
 */

/** VARIABLES 
===================================*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
	position: relative;
	margin: 0 auto;
	padding: 0;
	*zoom: 1;
	-ms-touch-action: pan-y;
	touch-action: pan-y;

	img {
		max-width: 100%;
		display: block;
	}
}

.bxslider {
	margin: 0;
	padding: 0;
}

ul.bxslider {
	list-style: none;
}

.bx-viewport {
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
}

/** THEME
===================================*/
.bx-wrapper {
	.bx-pager, .bx-controls-auto {
		position: absolute;
		bottom: 10px;
		width: 100%;
	}

	.bx-loading {
		min-height: 50px;
		background: url('../img/bx_loader.gif') center center no-repeat #ffffff;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2000;
	}

	.bx-pager {
		text-align: center;
		font-size: .85em;
		font-family: Arial;
		font-weight: bold;
		color: #666;
		padding-top: 20px;
	}

	.bx-pager.bx-default-pager a {
		background: #fff;
		@include opacity(.5);
		text-indent: -9999px;
		display: block;
		width: 10px;
		height: 10px;
		margin: 0 5px;
		outline: 0;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}

	.bx-pager.bx-default-pager a:hover,
	.bx-pager.bx-default-pager a.active {
		@include opacity(1);
	}

	.bx-pager-item,
	.bx-controls-auto .bx-controls-auto-item {
		display: inline-block;
		*zoom: 1;
		*display: inline;
	}

	.bx-pager-item {
		font-size: 0;
		line-height: 0;
	}

	.bx-prev {
		visibility: hidden;
		left: 10px;
		background: url('../img/controls.png') no-repeat 0 -32px;
		@include opacity(.5);
	}

	.bx-prev:hover,
	.bx-prev:focus {
		@include opacity(1);
	}

	.bx-next {
		visibility: hidden;
		right: 10px;
		background: url('../img/controls.png') no-repeat -43px -32px;
		@include opacity(.5);
	}

	.bx-next:hover,
	.bx-next:focus {
		@include opacity(1);
	}

	.bx-controls-direction a {
		position: absolute;
		top: 50%;
		margin-top: -16px;
		outline: 0;
		width: 32px;
		height: 32px;
		text-indent: -9999px;
		z-index: 9999;
	}

	.bx-controls-direction a.disabled {
		display: none;
	}

	.bx-controls-auto {
		text-align: center;
	}

	.bx-controls-auto .bx-start {
		display: block;
		text-indent: -9999px;
		width: 10px;
		height: 11px;
		outline: 0;
		background: url('../img/controls.png') -86px -11px no-repeat;
		margin: 0 3px;
	}

	.bx-controls-auto .bx-start:hover,
	.bx-controls-auto .bx-start.active,
	.bx-controls-auto .bx-start:focus {
		background-position: -86px 0;
	}

	.bx-controls-auto .bx-stop {
		display: block;
		text-indent: -9999px;
		width: 9px;
		height: 11px;
		outline: 0;
		background: url('../img/controls.png') -86px -44px no-repeat;
		margin: 0 3px;
	}

	.bx-controls-auto .bx-stop:hover,
	.bx-controls-auto .bx-stop.active,
	.bx-controls-auto .bx-stop:focus {
		background-position: -86px -33px;
	}

	.bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
		text-align: left;
		width: 80%;
	}

	.bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
		right: 0;
		width: 35px;
	}

	.bx-caption {
		position: absolute;
		bottom: 0;
		left: 0;
		background: #666;
		background: rgba(80, 80, 80, 0.75);
		width: 100%;
	}

	.bx-caption span {
		color: #fff;
		font-family: Arial;
		display: block;
		font-size: .85em;
		padding: 10px;
	}
}

@media all and (min-width: $smlWidth) {
	.bx-wrapper {
		.bx-pager, .bx-controls-auto {
			bottom: 60px;
		}

		.bx-prev {
			visibility: visible;
		}
		.bx-next {
			visibility: visible;
		}
	}
}