.cw-slideshow {
	position: relative;
	z-index: 1;
	background-color: #fff;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	@include transition(background-color .5s, opacity .5s);
	@include opacity(0);
	width: 100%;
	max-width: 1400px;
	margin: 0 auto 30px;

	&.loaded {
		@include opacity(1);
		@include transition(background-color .5s, opacity .5s);
	}

	.slide {
		text-align: left;
		overflow: hidden;

		.slide-words {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;


			&.align-left {
				.slide-caption {
					@include transform(translateY(-50%) translateX(0));

					p {
						@include transform(translateX(25%));
						@include transition(.5s);
					}

					a {
						@include transform(translateX(25%));
						@include transition(.75s);
					}
				}
			}

			&.align-center {
				.slide-caption {
					@include transform(translateY(-50%) translateX(0));

					p {
						@include transform(translateX(0) scale(.875));
						@include transition(.5s);
					}

					a {
						@include transform(translateX(0) scale(.875));
						@include transition(.75s);
					}
				}
			}

			&.align-right {
				.slide-caption {
					@include transform(translateY(-50%) translateX(0));

					p {
						@include transform(translateX(-25%));
						@include transition(.5s);
					}

					a {
						@include transform(translateX(-25%));
						@include transition(.75s);
					}
				}
			}

			.slide-caption {
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				max-width: none;
				@include transform(translateY(-50%) translateX(-100%));
				font-size: .75em;

				p {
					background-color: rgba($blue, .125);
					color: #fff;
					padding: 15px;
					margin: 0;
					line-height: 1.1;
					@include opacity(0);
					@include transform(translateX(25%));
					@include transition(.5s);
				}

				a {
					display: block;
					background-color: rgba($blue, .75);
					color: #fff;
					padding: 5px 15px;
					@include opacity(0);
					@include transform(translateX(25%));
					@include transition(.75s);

					&:hover {
						background-color: rgba($blue, 1);
					}
				}
			}
		}

		&.active-slide {
			.slide-words {
				.slide-caption {
					p {
						@include opacity(1);
						@include transform(translateX(0) scale(1));
						@include transition(.5s 0.5s);
					}

					a {
						@include opacity(1);
						@include transform(translateX(0) scale(1));
						@include transition(.75s 0.5s);
					}
				}
			}
		}
	}
}

@media all and (min-width: $smlWidth) {
	.cw-slideshow {
		.slide {
			.slide-words {
				&.align-left {
					.slide-caption {
						@include transform(translateY(-50%) translateX(-100%));
					}
				}

				&.align-center {
					.slide-caption {
						@include transform(translateY(-50%) translateX(-50%));
					}
				}

				&.align-right {
					.slide-caption {
						@include transform(translateY(-50%) translateX(0));
					}
				}

				.slide-caption {
					max-width: $bigWidth / 2;
					font-size: 1em;
					left: 50%;
					@include transform(translateY(-50%) translateX(-100%));

					p {
						background-color: rgba(#fff, .75);
						color: $blue;
						line-height: 1.3;
					}
				}
			}
		}
	}
}