@import "normalize";
@import "bourbon";
@import "gravityforms";
@import "wordpress";
@import "fontawesome";

// variables
$blue: #004A8F;
$grey: #808285;
$liteGrey: #e0e0e0;

$linkColor: $blue;
$linkHover: lighten($linkColor, 10%);
$fontColor: #333;

$accentFont: 'Rubik', sans-serif;

@import "cw-grid";
@import "cw-custom"; // This is where we can put custom mixins and classes
@import "bxslider";
@import "cw-classes";
@import "cw-slides";
@import "cw-columns";
@import "cw-lload";

html, body {
	margin: 0;
	padding: 0;
	color: $fontColor;
	box-sizing: border-box;
}

body {
	position: relative;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;

	.dev-note {
		position: fixed;
		width: 320px;
		height: 0;
		top: 60px;
		left: 75px;
		overflow: visible;
		z-index: 9999;

		.cwdn-open-close {
			position: absolute;
			display: block;
			cursor: pointer;
			top: 0;
			right: 100%;
			text-align: center;
			z-index: 1;
			background-color: #fff;
			padding: 5px 10px;
			@include border-radius(10px);
			@include box-shadow(0, 0, 5px, 0, rgba(0, 0, 0, .125));
			@include transition(.5s);
			color: red;
			font-weight: 900;

			.fa-times {
				color: red;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 50%;
				left: 50%;
				@include transform(translateY(-40%) translateX(-50%) scale(0));
				@include transition(.5s);
			}

			&.close {
				color: transparent;

				.fa-times {
					color: red;
					@include transform(translateY(-40%) translateX(-50%) scale(1));
					@include transition(.5s);
				}
			}

			&:hover {
				@include transition(.5s);
				@include box-shadow(0, 0, 5px, 0, rgba(0, 0, 0, .5));
			}
		}

		.the-note {
			position: absolute;
			visibility: hidden;
			z-index: 2;
			background-color: #fff;
			padding: 15px;
			margin: 0 0 0 15px;
			@include opacity(0);
			@include border-radius(20px);
			@include box-shadow(0, 0, 0, 0, red, inset);
			@include transform(translateY(-100%));
			@include transition(.5s);

		}

		&.opin {
			.the-note {
				visibility: visible;
				@include opacity(1);
				@include transform(translateY(0));
				@include box-shadow(0, 0, 0, 2px, red, inset);
				@include transition(.5s);
			}
		}
	}

	&.mobile-nav-open {
		position: fixed;
		overflow: hidden;
	}

	&.admin-bar {
		padding-top: 46px;
	}
}

* {
	outline: none!important;
	
	&:hover,
	&:focus {
		outline: none!important;
	}
}

pre {
	position: relative;
	padding: 15px;
	font-size: 10px;
	background-color: rgba(175, 175, 175, .1);
	margin: 15px;
	word-wrap: break-word;
	@include box-shadow(0, 0, 0, 1px, rgba(0, 0, 0, .1));
}

// reference clases
.vertcent {
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%));
}

.horzcent {
	position: absolute;
	left: 50%;
	@include transform(translateX(-50%));
}

.absocent {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translateX(-50%) translateY(-50%));
}

.smoothfont {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.blue-bg {
	background-color: $blue;
	padding: 15px 0;
}

.grey-bg {
	background-color: $grey;
	padding: 15px 0;
}

.liteGrey-bg {
	background-color: $liteGrey;
	padding: 15px 0;	
}

//typography
$h2Size: 2em;

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: $accentFont;
	font-weight: 700;

	&.page-title {
		margin-bottom: 30px;
		padding-bottom: 5px;
		padding-left: 15px;
		padding-right: 15px;
		line-height: 1;
		@include multi-box-shadow(0 2px 0 0 $blue, 0 4px 0 0 #fff, 0 6px 0 0 $grey);
	}
}

h1 {
	font-size: 1em;

	&.tribe-events-single-event-title {
		font-size: $h2Size;
	}
}

h2 {
	font-size: $h2Size;
}
h3 {
	font-size: 1.75em;
}
h4 {
	font-size: 1.5em;
}
h5 {
	font-size: 1.25em;
}
h6 {
	font-size: 1em;
}

p, li  {
	font-size: 1em;
	color: $fontColor;
}

p {
	margin: 0 0 1em 0;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	&.styleless {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

a {
	color: $linkColor;
	@include transition(.25s);
	text-decoration: none;

	&:hover {
		color: $linkHover;
		@include transition(.25s);
		text-decoration: none;
	}
}

img {
	max-width: 100%;
	height: auto;
}

// ::-webkit-input-placeholder {
//    color: #fff;
// }

// :-moz-placeholder { /* Firefox 18- */
//    color: #fff;
// }

// ::-moz-placeholder {  /* Firefox 19+ */
//    color: #fff;
// }

// :-ms-input-placeholder {  
//    color: #fff;
// }

$inputBg: #fff;

input[type="text"],
input[type="email"],
input[type="submit"],
input[type="password"],
input[type="tel"],
input[type="button"],
select,
textarea {
	border: 0;
	outline: none!important;
	-webkit-appearance: none;
	border-radius: 20px;

	.cw-contact-form & {
		width: 100%;
	}

	.gform_wrapper & {
		border: 0!important;
	}
}

input[type="submit"], input[type="button"], button, .button {
	display: inline-block;
	background-color: $linkColor;
	color: #fff;
	padding: 10px 20px;
	@include transition(.25s);
	cursor: pointer;

	&:hover {
		background-color: $linkColor;
		color: #fff;
		@include transition(.25s);
	}
}

input[type="file"] {

}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea,
select {
	@include box-shadow(0, 0, 0, 1px, $grey, inset);
	@include transition(.25s);
	padding: 10px;
	background-color: $inputBg;
	line-height: 1.3;

	&:hover, &:focus {
		@include box-shadow(0, 0, 0, 2px, $blue, inset);
		@include transition(.25s);
	}

	.gform_wrapper & {
		padding: 10px!important;
		line-height: 1.3!important;
	}
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"], {

}

.cwcf-row {
	margin: 15px -15px;
}

textarea {

}

select {
	background-image: url(../img/select-down.png);
	background-position: right 10px center;
	background-size: 10px 5px;
	background-repeat: no-repeat;
	background-color: $inputBg;

	&[multiple="multiple"] {
		background: none;
		background-color: $inputBg;
	}

	&.ui-datepicker-month,
	&.ui-datepicker-year {
		background: none;
		@include box-shadow(0, 0, 0, 0, $fontColor);

		&:hover, &:focus {
			@include box-shadow(0, 0, 0, 0, $fontColor);
		}	
	}
}

.off-canvas-wrap {
	position: relative;
	width: 100%;
	clear: both;
	overflow: hidden;
	-webkit-backface-visibility: hidden;

	.off-canvas-wrap-inner {
		position: relative;
		top: 0;
		width: 100%;
		// @include transform(translate3d(0, 0, 0));
		@include transform(translateX(0));
		@include transition(.5s);
		overflow: visible;
	}

	.mobile-nav-open & {
		min-height: 100%;
		-webkit-overflow-scrolling: touch;

		.off-canvas-wrap-inner {
			// @include transform(translate3d(75vw, 0, 0));
			@include transform(translateX(-75vw));
			@include transition(.5s);
		}
	}
}

// header and nav
[role=banner] {
	position: relative;
	z-index: 10;
	margin-bottom: 30px;

	.logo {
		position: relative;

		svg {
			width: 100%;
		}
	}

	// nav
	.menu-toggle {
		position: relative;
		display: inline-block;
		cursor: pointer;
		height: 40px;
		width: 40px;

		.fa-bars {
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translateX(-50%) translateY(-50%));
		}
	}

	.menu-close {
		position: absolute;
		display: block;
		cursor: pointer;
		height: 40px;
		width: 40px;
		top: 15px;
		left: 160%;
		z-index: 9999;

		.fa-times {
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translateX(-50%) translateY(-50%));
		}
	}

	.mobile-nav-open & {
		.cw-nav-cont {
			[role="navigation"] {
				.menu {
					@include box-shadow(0, 0, 0, 200vh, rgba(255, 255, 255, .5));
				}
			}
		}
	}

	.cw-nav-cont {
		padding: 15px 0;
		@include display-flex();
		@include flex-direction(row);
		@include align-items(center);
		@include justify-content(space-between);

		[role="navigation"] {
			.menu {
				position: absolute;
				top: 0;
				left: 100%;
				width: 75vw;
				height: 100vh;
				overflow: hidden;
				@include flex-direction(column);
				@include transition(.5s);
				background-color: #f4f4f4;
				margin: 0;
				padding: 15px;
				overflow-y: auto;

				.menu-item {
					position: relative;
					display: block;
					margin-right: 0;
					margin-bottom: 5px;

					&:last-child {
						margin-right: 0;
						margin-bottom: 0;
					}

					&:hover {
						>a {
							
						}

						>.sub-menu {
							display: block;
						}
					}

					&.current-menu-item {
						>a {
							
						}
					}

					a {
						font-family: $accentFont;
						font-weight: 400;	
					}

					.sub-menu {
						position: relative;
						display: block;
						top: auto;
						left: auto;
						margin: 0;
						padding: 0;
						background-color: #f4f4f4;
						z-index: 9999;

						.menu-item {
							display: block;
							margin: 0;

							a {
								display: inline-block;
								white-space: nowrap;
								padding: 5px 10px;
							}
						}
					}
				}
			}
		}
	}
}

// main content
[role="main"] {
	position: relative;
	margin-bottom: 30px;
	z-index: 2;
	
	.home & {
		.home-promos {
			margin-top: 0;
			margin-bottom: 15px;
		}
	}

	.qlinks-facebook {
		.quicklinks {
			@include display-flex();
			@include flex-direction(row);
			@include align-items(center);
			@include flex-wrap(wrap);
			@include justify-content(space-between);

			.quicklink {
				display: block;
				width: 50%;
				padding: 15px;

				.inner {
					position: relative;
					display: block;
					background-color: #f3f3f3;
					@include box-shadow(0, 0, 0, 4px, $blue);
					@include transform(scale(1));
					@include transition(.25s);

					.button-title {
						@extend .absocent;
						display: block;
						text-align: center;
						color: $blue;
						z-index: 2;
						@include transition(.25s);
					}

					img {
						position: relative;
						display: block;
						z-index: 1;
						@include opacity(.25);
						@include transition(.25s);
					}
				}

				&:hover {
					.inner {
						background-color: $blue;
						@include transform(scale(1.05));
						@include transition(.25s);

						.button-title {
							color: #fff;
							@include transition(.25s);
						}

						.img {
							@include opacity(.75);
							@include transition(.25s);
						}
					}
				}
			}
		}
	}
}

// sidebar
[role="complementary"] {
	.widget {
		margin-bottom: 30px;
	}
}

// footer
[role="contentinfo"] {
	.logo {
		text-align: left;

		.inner {
			display: inline-block;
			text-align: center;
		}

		svg {
			max-width: 200px;
			margin-bottom: 15px;
		}

		.phone {
			font-weight: 900;
			font-size: 1.1em;
		}
	}

	.nav {
		text-align: right;
	}

	.flxcnt {
		@include display-flex();
		@include flex-direction(row);
		@include align-items(center);
		@include flex-wrap(wrap);
		@include justify-content(space-between);
		padding: 0 15px;
	}

	.copy {
		text-align: center;
		color: #fff;
		margin-bottom: 0;
		@include opacity(.5);
	}

	.cw-logo {
		@include opacity(.5);
		
		* {
			fill: #fff;
		}
	}
}

.cw-logo {
	display: block;
	width: 150px;

	path {
		fill: #333;
	}
}


// search
[role="search"] {
	position: relative;
	z-index: 9999;

	input[type="text"] {
		width: 100%;
	}

	.search-results {
		position: absolute;
		width: 100%;
		left: 0;
		top: 100%;
		background-color: #fff;
		@include box-shadow(0, 5px, 10px, 0, rgba(0, 0, 0, .5));

		.close {
			position: absolute;
			top: -27px;
			right: 10px;
			cursor: pointer;
		}

		.result, .more-results, .no-results {
			padding: 2px 10px;
		}

		.loading {
			position: absolute;
			right: 0;
			top: -27px;
			width: auto;
			text-align: right;
			padding: 0 15px;
			@include opacity(.5);
		}

		.more-results {
			background-color: #333;
			color: #fff;
			display: block;
		}

		.result {
			position: relative;

			a {
				display: block;
			}

			&:hover {
				&:after {
					height: 4px;
					@include transition(.25s);
				}
			}

			&:after {
				position: absolute;
				display: block;
				content: '';
				background-color: #333;
				left: 0;
				top: 100%;
				width: 100%;
				height: 0;
				@include transition(.25s);
			}
		}
	}
}

// tribe events overrides
.tribe-events-schedule h2 {
	font-size: 16px;
}

// gravity forms overrides
.gform_wrapper .ginput_complex.ginput_container {
	overflow: visible!important;
}

// vertical centering, the flexbox way
// for ie10 and lower, you'll need to use the conditional in cw-main.js
.eqh-row {
	display: flex;
	flex-direction: row;
	align-items: center;

	html[data-useragent*='MSIE 10.0'] & {
		position: relative;
		display: block;

		.eqh-inner {
			position: relative;
			top: 0;
			@include transform(translateY(0));
		}
	}
}

// misc stuff, specific stuff, global stuff
.sc-hours {

}

.testimonials {
	.testimonial {
		margin: 0 0 30px;
		padding: 30px;
		background-color: $liteGrey;

		.info {
			display: block;
			text-align: right;
			margin-top: 15px;
			padding-top: 15px;
			@include box-shadow(0, -1px, 0, 0, rgba($blue, .25));
		}
	}
}

.promo {
	@include multi-box-shadow(0 0 0 4px #fff, 0 0 10px -5px rgba(0, 0, 0, .25));
	margin-bottom: 15px;

	img {
		display: block;
	}
}

.ng-hide, .ng-cloak {
	display: none!important;
}

.pagination {
	clear: both;
	padding: 20px 0;
	position: relative;
	font-size: 11px;
	line-height: 13px;
}
 
.pagination span, .pagination a {
	display: block;
	float: left;
	margin: 2px 2px 2px 0;
	padding: 6px 9px 5px 9px;
	text-decoration: none;
	width: auto;
	color: #fff;
	background: $grey;
	font-weight: 700;
}
 
.pagination a:hover{
	color: #fff;
	background: $linkHover;
}
 
.pagination .current{
	padding: 6px 9px 5px 9px;
	background: $blue;
	color: #fff;
}


.cff-likebox {
	margin-left: 0!important;
}

.visually-hidden {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px;
	width: 1px; 
	margin: -1px;
	padding: 0;
	border: 0; 
	top: 0;
	left: 0;
	@include opacity(0);
}

// .video-container {
// 	position: relative;
// 	padding-bottom: 56.25%; /* 16:9 */
// 	padding-top: 25px;
// 	height: 0;

// 	iframe {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	}
// }

// .hours {
// 	max-width: 40em;
// 	padding: 0;
// 	overflow-x: hidden;
// 	list-style: none;

// 	li {
// 		&:before {
// 			float: left;
// 			width: 0;
// 			white-space: nowrap;
// 			content:
// 			". . . . . . . . . . . . . . . . . . . . "
// 			". . . . . . . . . . . . . . . . . . . . "
// 			". . . . . . . . . . . . . . . . . . . . "
// 			". . . . . . . . . . . . . . . . . . . . ";
// 		}

// 		.day-name {
// 			padding-right: 0.33em;
// 			background: white;
// 		}

// 		.open-close {
// 			float: right;
// 			padding-left: 0.33em;
// 			background: white;
// 		}
// 	}
// }

.logo {
	a {
		display: inline-block;
	}
}

.gf_captcha {
	display: none;
}

.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 .cf {
 	*zoom: 1;
 }

@media all and (min-width: $smlWidth) {
	[role=banner] {
		.menu-toggle {
			display: none;
		}

		.menu-close {
			display: none;
		}

		.cw-nav-cont {
			@include flex-direction(row);

			[role="navigation"] {
				.menu {
					position: relative;
					width: auto;
					height: auto;
					left: auto;
					@include display-flex();
					@include flex-direction(row);
					@include align-items(center);
					@include justify-content(space-around);
					background-color: transparent;
					margin: 0;
					top: auto;
					padding: 0;
					overflow: visible;

					&.open {
						width: auto;
					}

					.menu-item {
						display: inline-block;
						margin-right: 15px;
						margin-bottom: 0;

						&:hover {
							>a {
								
							}

							 >.sub-menu {
								display: block;
							}
						}

						&.current-menu-item {
							>a {
								
							}
						}

						>a {
							
						}

						.sub-menu {
							position: absolute;
							display: none;
							top: 100%;
							left: 0;
							margin: 0;
							padding: 0;

							.menu-item {
								display: block;

								a {
									display: inline-block;
									white-space: nowrap;
									padding: 5px 10px;
								}
							}
						}
					}
				}
			}
		}
	}

	[role="main"] {
		.home & {
			.home-promos {
				margin-top: -65px;
			}
		}
	}

	// footer
	[role="contentinfo"] {
		.copy {
			text-align: left;
		}

		.cw {
			text-align: right;
		}
	}

	.off-canvas-wrap {
		.off-canvas-wrap-inner {
			overflow: hidden;
			@include transform();
		}
	}
}

@media all and (min-width: 783px) {
	body {
		&.admin-bar {
			padding-top: 32px;
		}
	}
}

 // print styles
 @media print {
 	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
 	a, a:visited {  }
 	a[href]:after { content: " (" attr(href) ")"; }
 	abbr[title]:after { content: " (" attr(title) ")"; }
 	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
 	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
 	thead { display: table-header-group; }
 	tr, img { page-break-inside: avoid; }
 	img { max-width: 100% !important; }
 	@page { margin: 0.5cm; }
 	p, h2, h3 { orphans: 3; widows: 3; }
 	h2, h3 { page-break-after: avoid; }
 }